body {
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
    font-family:'Roboto', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: red;
    padding: 4px;
}

ul {
    display: flex;
    gap: 30px;
    padding: 0px 4px;
    list-style: none;
    font-size: 20px;
}

h1 {
    margin-left: 150px;
    font-weight: bold;
    font-size:25px;
}

.logo {
    height:auto;
    width:50px;
    border: 3px solid black;
}

.intro {
    display:flex;
    justify-content:space-evenly;
    align-items: center;
    gap: 30px;
    padding: 8px;
    background-color: #DC143C;  
}

.introtext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    margin-bottom: 20px;
}

h2 {
    margin: 5px;
    font-weight: bolder;
    font-size: 36px;
}

p {
    margin: 5px;
    font-size: 18px;
}

button {
    padding: 4px;
    margin: 5px;
    max-width: 80px;
    margin-left: 10px;
    font-weight:bold;
}


.introimg {
    height:auto;
    max-width:300px;
    border: 5px solid black;
}

.title {
    text-align:center;
    font-size: 36px;
    font-weight: bolder;
    padding: 15px;
}

.content {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.infoimg {
    height: 130px;
    max-width: 200px;
    border: 5px solid darkblue;
    border-radius: 25px;
}

.text {
    font-size:18px;
    text-align:center;
}

.quotecontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding:30px;
    margin: 30px 0px;
    background-color: #ff9999;
}

.author {
    font-weight:1000;
    font-style: normal;
    text-align: right;
}

.quote {
    font-size: 36px;
    font-style: italic;
    width: 600px;
}

.textcontainer {
    display: flex;
    flex-direction: column;
}

.signup {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    background-color:lightblue;
    width: 600px;
    margin: auto;
    gap: 300px;
    padding:10px;
}

.signupbutton {
    margin:5px;
    padding:5px;
    background-color: lightblue;
    border-radius: 5px;
}

.footer {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color:whitesmoke;
    position:absolute;
    bottom: 0;
    left: 0;
    right: 0;
}